In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline  
pd.set_option('display.max_columns', None)
from datetime import datetime
plt.style.use('ggplot')
import warnings # current version of seaborn generates a bunch of warnings that we'll ignore
warnings.filterwarnings("ignore")
from IPython.core.display import display, HTML
import seaborn as sns
sns.set(style="whitegrid")

In [2]:
SOURCE = "../data/testSearchStream.tsv"
df = pd.read_csv(SOURCE , sep='\t' )

In [7]:
df.dtypes

ID              int64
SearchID        int64
AdID            int64
Position        int64
ObjectType      int64
HistCTR       float64
dtype: object

In [12]:
df

                ID   SearchID      AdID  Position  ObjectType   HistCTR
0                1          1  10915336         1           3  0.004999
1                2          1  12258424         6           1       NaN
2                3          1  15952399         2           1       NaN
3                4          1  17092357         8           1       NaN
4                5          1  31173651         7           3  0.045094
5                6          7   9041972         1           3  0.007032
6                7         28  14309446         7           3  0.016943
7                8         28  15753167         1           3  0.054339
8                9         28  20744962         2           2       NaN
9               10         44   2157040         6           1       NaN
10              11         44  17802136         8           1       NaN
11              12         44  18492612         7           3  0.002091
12              13         44  31604783         1           3  0.010835
13              14         44  36462412         2           1       NaN
14              15         55   9688955         7           3  0.020373
15              16         55  17583388         2           2       NaN
16              17         55  19321194         1           3  0.037153
17              18         81   1220223         1           3  0.008889
18              19         81  10500090         6           1       NaN
19              20         81  14281107         8           1       NaN
20              21         81  19712327         7           1       NaN
21              22         81  20665607         2           1       NaN
22              23         86   3427089         2           1       NaN
23              24         86   5923078         8           1       NaN
24              25         86   7358815         7           3  0.001704
25              26         86  14274292         6           1       NaN
26              27         86  22771491         1           3  0.007241
27              28        105   4600751         2           1       NaN
28              29        105   6518744         1           3  0.010066
29              30        105  29374917         7           3  0.001751
...            ...        ...       ...       ...         ...       ...
15961485  15961486  113964684  12079648         2           2       NaN
15961486  15961487  113964684  22020912         8           1       NaN
15961487  15961488  113964684  22227386         6           1       NaN
15961488  15961489  113964684  29494624         1           3  0.002540
15961489  15961490  113964685   2119464         2           2       NaN
15961490  15961491  113964685   8338367         6           1       NaN
15961491  15961492  113964685  15281745         8           1       NaN
15961492  15961493  113964685  24031805         1           3  0.003478
15961493  15961494  113964685  28172123         7           3  0.008333
15961494  15961495  113964711  12861531         1           3  0.034652
15961495  15961496  113964711  24000420         2           2       NaN
15961496  15961497  113964711  34534937         7           3  0.043111
15961497  15961498  113964714   5161832         2           2       NaN
15961498  15961499  113964714   9527583         7           3  0.002465
15961499  15961500  113964714  19315340         1           3  0.013670
15961500  15961501  113964714  19546712         6           1       NaN
15961501  15961502  113964714  21141184         8           1       NaN
15961502  15961503  113964734   2255903         2           1       NaN
15961503  15961504  113964734  13245222         7           3  0.005647
15961504  15961505  113964734  16066424         6           1       NaN
15961505  15961506  113964734  28082409         1           3  0.016351
15961506  15961507  113964734  36832424         8           1       NaN
15961507  15961508  113964743   8714296         1           3  0.009181
15961508  15961509  113964743  19080720         7           3  0.001311
15961509  15961510  113964743  28653296         2           2       NaN
15961510  15961511  113964766  27087672         7           1       NaN
15961511  15961512  113964766  27294452         1           3  0.004614
15961512  15961513  113964766  32237472         2           2       NaN
15961513  15961514  113964766  32960402         8           1       NaN
15961514  15961515  113964766  33189130         6           1       NaN

[15961515 rows x 6 columns]

In [5]:
SOURCE2 = "../data/sampleSubmission.csv"
sam = pd.read_csv(SOURCE2 , sep=',' )

In [6]:
sam.head()

   ID  IsClick
0   1        0
1   5        0
2   6        0
3   7        0
4   8        0

In [10]:
# search_di is the search query dictionary that store the number of regular, highlighted, context ads, SearchID is its key
search_di = {}
def count_search_ads(x):
    if not search_di.has_key(x['SearchID']):
        search_di[x['SearchID']] = {'regular_no': 0 , 'highlighted_no': 0 , 'context_no': 0 }
    if x['ObjectType']==1:
        search_di[x['SearchID']]['regular_no'] += 1 
    elif x['ObjectType']==2:
        search_di[x['SearchID']]['highlighted_no'] += 1 
    else:
        search_di[x['SearchID']]['context_no'] += 1

In [11]:
#read the dataframe by chunk and apply the counting function
SOURCE2 = "../data/testSearchStream.tsv"
for chunk in pd.read_csv(SOURCE2, sep='\t' , chunksize=1000000):
    print len(search_di)
    chunk.apply(count_search_ads , axis =1 )

0
269243
538292
807616
1076972
1346046
1615502
1884481
2153717
2422838
2691885
2960979
3230168
3499118
3768123
4036890

In [13]:
search_di[1]

{'context_no': 2, 'highlighted_no': 0, 'regular_no': 3}

In [14]:
import pickle

with open('../data/search_di.pickle', 'wb') as handle:
  pickle.dump(search_di, handle)

In [15]:
with open('../data/search_di.pickle', 'rb') as handle:
  users_di2 = pickle.load(handle)

In [16]:
users_di2[1]

{'context_no': 2, 'highlighted_no': 0, 'regular_no': 3}